.one, .two
	display: flex

.one
	background-color: lightgreen
	align-items: center
	justify-content: center
	min-height: 1000px

.two
	background-color: lightblue
	align-items: center
	justify-content: space-around
	min-height: 1000px

@media screen and (max-width: 768px)
	.one
		background-color: tomato
	